<app-loader *ngIf="loading else content"></app-loader>

<ng-template #content>
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <p>{{'app.auth.login.info_text' | transloco}}</p>
        <form [formGroup]="form" (submit)="doLogin()">
          <div class="form-group">
            <label for="inputApiKey">{{ "app.api_key" | transloco }}</label>
            <input type="password" id="inputApiKey" formControlName="apiKey" class="form-control" required autocomplete="off"/>
          </div>

          <small>
            <p>
              <transloco key="app.auth.login.register_cta" [params]="{claimInstanceLink: {route: ['/auth/claim-instance']}}" />
            </p>
          </small>

          <button class="btn btn-primary" type="submit">
            {{'app.auth.login.submit' | transloco}}
          </button>
        </form>

      </div>
    </div>
  </div>
</ng-template>
