<app-loader *ngIf="loading else content"></app-loader>

<ng-template #content>
  <ng-container>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Your guarantor</h3>
        </div>
        <div class="card-body">
          <p *ngIf="!guarantor">
            This instance doesn't have a guarantor. Maybe try asking in the <a
            href="https://lemmyverse.link/c/fediseer@lemmy.dbzer0.com" target="_blank">support forum</a>?
          </p>
          <p *ngIf="guarantor">
            This instance is guaranteed by <strong><a routerLink="/instances/detail/{{guarantor}}">{{guarantor}}</a></strong>.
          </p>
          <p *ngIf="guarantor">
            If you no longer wish to be guaranteed by {{guarantor}}, you can
            <a (click)="cancelGuarantee(instance.name)" class="text-danger" href="javascript:void(0)">
              cancel by clickling here</a>.
            <strong>Note that there's no confirmation, once you click the link, you will not be guaranteed by anyone.</strong>
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Guarantees that {{instance.name}} <strong>has given</strong></h3>
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Instance</th>
              <th>{{"app.instance.status" | transloco}}</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="guarantor">
              <td colspan="3">
                <a routerLink="/guarantees/guarantee" class="btn btn-primary">Guarantee an instance</a>
              </td>
            </tr>
            <tr *ngIf="!instancesGuaranteedByMe.length">
              <td colspan="3" *ngIf="guarantor">This instance didn't guarantee anyone yet.</td>
              <td colspan="3" *ngIf="!guarantor">No one guaranteed for this instance, you cannot give guarantees yourself.</td>
            </tr>
            <tr *ngFor="let guaranteed of instancesGuaranteedByMe">
              <td>
                <a routerLink="/instances/detail/{{guaranteed.domain}}">
                  {{guaranteed.domain}}
                  <app-flags [instance]="guaranteed" />
                </a>
              </td>
              <td>
                <app-instance-status [status]="guaranteed.state" />
              </td>
              <td>
                <app-instance-move-to-list
                  instance="{{guaranteed.domain}}"
                  (movingInstanceFailed)="onMovingInstanceFailed($event)"
                  (instanceMoved)="onInstanceMoved($event)"
                  (started)="loading = true"
                />
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>
