<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">{{'app.glossary' | transloco}}</h3>
    </div>
    <div class="card-body">
      <p>{{'app.glossary.intro_text' | transloco}}</p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Fediseer</h3>
    </div>
    <div class="card-body">
      <p>
        <transloco key="app.glossary.fediseer.paragraph_1" [params]="{fediseerHome: 'https://fediseer.com', announcementLink: 'https://dbzer0.com/blog/overseer-a-fediverse-chain-of-trust/'}" />
      </p>
      <p>
        {{'app.glossary.fediseer.paragraph_2' | transloco}}
      </p>
      <p>
        {{'app.glossary.fediseer.paragraph_3' | transloco}}
      </p>
      <p>
        {{'app.glossary.fediseer.paragraph_4' | transloco}}
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3 class="card-title">{{'app.instance_claim' | transloco}}</h3>
    </div>
    <div class="card-body">
      <p>
        {{'app.glossary.instance_claim.paragraph_1' | transloco}}
      </p>
      <p>
        {{'app.glossary.instance_claim.paragraph_2' | transloco}}
      </p>
      <p *ngIf="currentInstance.anonymous">
        <transloco key="app.glossary.instance_claim.paragraph_3" [params]="{
          claimInstanceLink: {route: ['/auth/claim-instance']},
          claimInstanceTitle: 'app.auth.claim_instance.title' | transloco,
        }" />
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3 class="card-title">{{'app.guarantee' | transloco}}</h3>
    </div>
    <div class="card-body">
      <p>
        {{'app.glossary.guarantee.paragraph_1' | transloco}}
      </p>
      <p>
        {{'app.glossary.guarantee.paragraph_2' | transloco}}
      </p>
      <p>
        {{'app.glossary.guarantee.paragraph_3' | transloco}}
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3 class="card-title">{{'app.chain_of_trust' | transloco}}</h3>
    </div>
    <div class="card-body">
      <p>
        {{'app.glossary.chain_of_trust.paragraph_1' | transloco}}
      </p>
      <p>
        {{'app.glossary.chain_of_trust.paragraph_2' | transloco}}
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3 class="card-title">{{'app.endorsement' | transloco}}</h3>
    </div>
    <div class="card-body">
      <p>
        {{'app.glossary.endorsement.paragraph_1' | transloco}}
      </p>
      <p>
        {{'app.glossary.endorsement.paragraph_2' | transloco}}
        <ng-container *ngIf="currentInstance.anonymous">
          {{'app.glossary.endorsement.paragraph_2a' | transloco}}
        </ng-container>
        <ng-container *ngIf="!currentInstance.anonymous">
          {{'app.glossary.endorsement.paragraph_2b' | transloco}}
        </ng-container>
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3 class="card-title">{{'app.censure' | transloco}}</h3>
    </div>
    <div class="card-body">
      <p>
        {{'app.glossary.censure.paragraph_1' | transloco}}
      </p>
      <p>
        {{'app.glossary.censure.paragraph_2' | transloco}}
      </p>
    </div>
  </div>

  <div class="card" id="hesitations">
    <div class="card-header">
      <h3 class="card-title">{{'app.hesitation' | transloco}}</h3>
    </div>
    <div class="card-body">
      <p>
        {{'app.glossary.hesitation.paragraph_1' | transloco}}
      </p>
      <p>
        {{'app.glossary.hesitation.paragraph_2' | transloco}}
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3 class="card-title">{{"app.suspicious_instance" | transloco}}</h3>
    </div>
    <div class="card-body">
      <p>
        {{'app.glossary.suspicious_instance.paragraph_1' | transloco}}
      </p>
      <p>
        {{'app.glossary.suspicious_instance.paragraph_2' | transloco}}
      </p>
    </div>
  </div>
</div>
