<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Fediseer</h3>
    </div>
    <div class="card-body">
      <p>{{'app.home.short_welcome' | transloco}}</p>
      <p>
        <transloco [key]="'app.home.glossary_link'" [params]="{'link': {route: ['glossary']}}"></transloco>
      </p>
      <p *ngIf="currentInstance.anonymous">
        <transloco [key]="'app.home.info_text.anonymous'" [params]="{
          guaranteedLink: {route: ['instances/whitelisted']},
          censuredLink: {route: ['instances/censured']},
          loginLink: {route: ['auth/login']},
          claimLink: {route: ['/auth/claim-instance']}
        }" />
      </p>
      <p *ngIf="!currentInstance.anonymous && currentInstanceDetail?.guarantor">
        <transloco [key]="'app.home.info_text.logged_in.with_guarantor'" [params]="{
          guaranteedLink: {route: ['instances/whitelisted']},
          censuredLink: {route: ['instances/censured']},
          myEndorsements: {route: ['endorsements/my']},
          myGuarantees: {route: ['guarantees/my']},
          myCensures: {route: ['censures/my']}
        }" />
      </p>
      <p *ngIf="!currentInstance.anonymous && !currentInstanceDetail?.guarantor">
        <strong>
          <transloco [key]="'app.home.info_text.logged_in.without_guarantor'" [params]="{solicitations: {route: ['solicitations']}}" />
        </strong>
      </p>
    </div>
  </div>
</div>
