<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Fediseer</h3>
    </div>
    <div class="card-body">
      <p>Welcome to the Fediseer GUI!</p>
      <p>If you don't know what this is, you might start at the <a routerLink="/glossary">Glossary</a>.</p>
      <p *ngIf="currentInstance.anonymous">
        You can view <a routerLink="/instances/whitelisted">whitelisted</a> and <a routerLink="/instances/blacklisted">blacklisted</a>
        instances without having an account, but you can also <a routerLink="/auth/login">log in</a> (or <a
        routerLink="/auth/claim-instance">register your instance</a>) to manage your own endorsements, censures and
        guarantees.
      </p>
      <p>
        You can view <a routerLink="/instances/whitelisted">whitelisted</a> and <a routerLink="/instances/blacklisted">blacklisted</a>
        instances or manage your <a routerLink="/endorsements/my">endorsements</a>, <a routerLink="/guarantees/my">guarantees</a>
        and <a routerLink="/censures/my">censures</a>.
      </p>
    </div>
  </div>
</div>
