<app-loader *ngIf="loading else content"></app-loader>

<ng-template #oauthSetup>
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Setup OAuth</h3>
    </div>
    <div class="card-body">
      <p>
        Before you can synchronize your settings, you must create an
        <a target="_blank" href="https://{{currentInstance}}/settings/applications">OAuth app</a> and put its
        credentials here. Any settings you put here are only stored in your browser.
      </p>

      <p>Your OAuth app needs these settings:</p>
      <ul>
        <li><strong>Redirect URI</strong> - <code>{{redirectUrl}}</code></li>
        <li>
          <strong>Scopes</strong> -
          <ul>
            <li><code>admin:read:domain_allows</code></li>
            <li><code>admin:read:domain_blocks</code></li>
            <li><code>admin:write:domain_allows</code></li>
            <li><code>admin:write:domain_blocks</code></li>
          </ul>
        </li>
      </ul>

      <form [formGroup]="oauthForm" (submit)="saveOauthAndRedirect()">
        <div class="form-group">
          <label for="inputClientId">Client key</label>
          <input id="inputClientId" class="form-control" formControlName="clientId"/>
        </div>
        <div class="form-group">
          <label for="inputClientSecret">Client secret</label>
          <input id="inputClientSecret" class="form-control" formControlName="secret"/>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!oauthForm.valid">Save</button>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #synchronizeForm>
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Synchronization from Fediseer to Mastodon</h3>
    </div>
    <div class="card-body">
      <app-filter-form
        [getSettingsCallback]="getSettingsCallback"
        [saveSettingsCallback]="saveSettingsCallback"
        (formSubmitted)="synchronize($event)"
        (modeChanged)="currentMode = $event"
        (instancesToBanChanged)="loadDiffs($event)"
        (instancesToBanCalculationStarted)="loadingPreview = true"
        (purgeChanged)="purgeMode = $event"
      >
        <div [formGroup]="form">
          <div class="form-group">
            <div class="custom-control custom-switch custom-switch-on-danger">
              <input class="custom-control-input" type="checkbox" id="inputMakeReasonsPublic"
                     formControlName="reasonsPublic" aria-describedby="inputMakeReasonsPublicDescription"/>
              <label for="inputMakeReasonsPublic" class="custom-control-label">Make reasons public</label>
            </div>
            <small id="inputMakeReasonsPublicDescription">
              If enabled, the censure reasons will be displayed publicly in your Mastodon blocklist, otherwise they'll
              be visible as a private note.
            </small>
          </div>
          <ng-template #modeSelect let-name="name" let-id="id">
            <select class="form-control" formControlName="{{name}}" id="{{id}}">
              <option [value]="MastodonBlacklistSeverity.Silence">Silence</option>
              <option [value]="MastodonBlacklistSeverity.Suspend">Suspend</option>
              <option [value]="MastodonBlacklistSeverity.RejectMedia">Reject media</option>
              <option [value]="MastodonBlacklistSeverity.Nothing">No action</option>
            </select>
            <small *ngIf="$any(form.controls)[name].value === MastodonBlacklistSeverity.Silence">
              <strong>Silence</strong> will make posts from accounts at this instance invisible to anyone who isn't following them.
            </small>
            <small *ngIf="$any(form.controls)[name].value === MastodonBlacklistSeverity.Suspend">
              <strong>Suspend</strong> will remove all content, media, and profile data for this instance's accounts from your server.
            </small>
            <small *ngIf="$any(form.controls)[name].value === MastodonBlacklistSeverity.RejectMedia">
              <strong>Reject media</strong> will reject all media files.
            </small>
            <small *ngIf="$any(form.controls)[name].value === MastodonBlacklistSeverity.Nothing">
              <strong>No action</strong> will do nothing.
            </small>
          </ng-template>

          <div class="form-group">
            <!--suppress XmlInvalidId -->
            <label for="inputCensuresMode">Censures action</label>
            <ng-container *ngTemplateOutlet="modeSelect; context: {name: 'censuresMode', id: 'inputCensuresMode'}"></ng-container>
          </div>
          <div class="form-group">
            <!--suppress XmlInvalidId -->
            <label for="inputHesitationsMode">Hesitations action</label>
            <ng-container *ngTemplateOutlet="modeSelect; context: {name: 'hesitationsMode', id: 'inputHesitationsMode'}"></ng-container>
          </div>
        </div>
      </app-filter-form>
      <div class="row mt-4">
        <div class="col-md-12 minimum-height">
          <h3>Preview</h3>

          <div class="position-relative">
            <app-loader *ngIf="loadingPreview else previewTable"/>
          </div>

          <ng-template #previewTable>
            <app-blacklist-diff
              [originalList]="sourceBlockedInstances"
              [newList]="instancesToBanPreview!"
              [purgeMode]="purgeMode ?? false"
              [originalToStringCallback]="instanceToStringCallback"
            />
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Synchronization from Mastodon to Fediseer</h3>
    </div>
    <div class="card-body">
      <p>
        Note that no domains will be removed from Fediseer, only domains that are present on
        <strong>{{currentInstance}}</strong> but not here on <strong>Fediseer</strong>
        will be added to your Fediseer censure list.
      </p>
      <form [formGroup]="form" (submit)="synchronizeFromMastodon()">
        <button type="submit" class="btn-primary btn">Synchronize</button>
      </form>

      <div class="row mt-4">
        <div class="col-md-12 minimum-height">
          <h3>Preview</h3>

          <div class="position-relative">
            <app-loader *ngIf="loadingPreviewMastodonToFediseer else previewMastodonToFediseer" />
          </div>

          <ng-template #previewMastodonToFediseer>
            <app-blacklist-diff
              [originalList]="myCensuredInstances"
              [newList]="sourceBlockedInstances"
              [newToStringCallback]="mastodonToFediseerSyncNewListCallback"
              [purgeMode]="false"
              [highlightRemoved]="false"
              addedText="This domain is only on your instance blocklist and will be added to your Fediseer censures"
            />
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Original blacklist</h3>
    </div>
    <div class="card-body">
      <p>
        Please back up this list before attempting any synchronization.
        <strong>
          If you move away from this page after a failed operation, there's no way to retrieve the original blacklist.
        </strong>
      </p>
      <p>
        <code>
          <ng-container *ngFor="let instance of originallyBlockedInstances">
            {{instance.domain}}<br>
          </ng-container>
        </code>
      </p>
    </div>
  </div>
</ng-template>

<ng-template #content>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Info</h3>
      </div>
      <div class="card-body">
        <p>
          Here you can synchronize your settings with your instance, if you provide an application OAuth credentials.
        </p>
        <p>
          It's strongly advised to backup the list of your currently blocked instances in case something goes wrong.
        </p>
      </div>
    </div>
    <ng-container *ngIf="!oauthSetupFinished">
      <ng-container *ngTemplateOutlet="oauthSetup"></ng-container>
    </ng-container>
    <ng-container *ngIf="oauthSetupFinished">
      <ng-container *ngTemplateOutlet="synchronizeForm"></ng-container>
    </ng-container>
  </div>
</ng-template>
