<app-loader *ngIf="loading else content"></app-loader>

<ng-template #content>
  <ng-container *ngIf="(instance | async)! as instance">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            <transloco key="app.endorsements.my.received" [params]="{instance: instance.name}" />
          </h3>
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>{{ "app.instance" | transloco }}</th>
              <th>{{"app.reasons" | transloco}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="!endorsementsForMyInstance.length">
              <td colspan="2">{{'app.endorsements.my.received.none' | transloco}}</td>
            </tr>
            <tr *ngFor="let endorsed of endorsementsForMyInstance">
              <td><a routerLink="/instances/detail/{{endorsed.domain}}">{{endorsed.domain}}</a></td>
              <td>
                <ul *ngIf="endorsed.endorsementReasons.length">
                  <li *ngFor="let reason of endorsed.endorsementReasons">{{reason}}</li>
                </ul>
                <code *ngIf="!endorsed.endorsementReasons.length">{{"app.not_applicable" | transloco}}</code>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            <transloco key="app.endorsements.my.given" [params]="{instance: instance.name}" />
          </h3>
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>{{"app.instance" | transloco}}</th>
              <th>{{"app.reasons" | transloco}}</th>
              <th>{{"app.actions" | transloco}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="guaranteed">
              <td colspan="3">
                <a routerLink="/endorsements/endorse" class="btn btn-primary">{{'app.endorsements.add.title' | transloco}}</a>
              </td>
            </tr>
            <tr *ngIf="!endorsementsByMyInstance.length">
              <td colspan="3" *ngIf="guaranteed">{{'app.endorsements.my.given.none' | transloco}}</td>
              <td colspan="3" *ngIf="!guaranteed">{{'app.endorsements.my.given.unguaranteed' | transloco}}</td>
            </tr>
            <tr *ngFor="let endorsed of endorsementsByMyInstance">
              <td><a routerLink="/instances/detail/{{endorsed.domain}}">{{endorsed.domain}}</a></td>
              <td>
                <ul *ngIf="endorsed.endorsementReasons.length">
                  <li *ngFor="let reason of endorsed.endorsementReasons">{{reason}}</li>
                </ul>
                <code *ngIf="!endorsed.endorsementReasons.length">{{'app.not_applicable' | transloco}}</code>
              </td>
              <td>
                <a routerLink="/endorsements/my/edit/{{endorsed.domain}}" type="button" class="btn btn-primary">{{'app.generic_buttons.edit' | transloco}}</a>
                &nbsp;
                <button class="btn btn-danger" (click)="cancelEndorsement(endorsed.domain)">{{'app.generic_buttons.cancel' | transloco}}</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>
