<app-loader *ngIf="loading else content"></app-loader>

<ng-template #content>
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="form" (submit)="doClaimInstance()">
          <div class="form-group">
            <label for="inputInstance">{{ "app.your_instance" | transloco }}</label>
            <input type="text" id="inputInstance" formControlName="instance" class="form-control" required aria-describedby="inputInstanceHelp" />
            <small id="inputInstanceHelp" class="form-text text-muted">
              <transloco key="app.auth.your_instance.hint" />
            </small>
          </div>
          <div class="form-group">
            <label for="inputAdmin">{{ "app.auth.admin_username" | transloco }}</label>
            <input type="text" id="inputAdmin" formControlName="admin" class="form-control" required aria-describedby="inputAdminHelp" />
            <small id="inputAdminHelp" class="form-text text-muted">
              {{"app.auth.admin_username.hint" | transloco}}
            </small>
          </div>
          <div class="form-group">
            <label for="inputPmProxy">{{"app.auth.private_message_proxy" | transloco}}</label>
            <select formControlName="pmProxy" id="inputPmProxy" class="form-control" aria-describedby="inputPmProxyDescription">
              <option [value]="PrivateMessageProxy.None">{{'app.auth.private_message_proxy.none' | transloco}}</option>
              <option [value]="PrivateMessageProxy.Mastodon">{{'app.auth.private_message_proxy.mastodon' | transloco}}</option>
            </select>
            <small id="inputPmProxyDescription">
              <ng-container *ngIf="form.controls.pmProxy.value === PrivateMessageProxy.None">
                {{'app.auth.private_message_proxy.none.description' | transloco}}
              </ng-container>
              <ng-container *ngIf="form.controls.pmProxy.value === PrivateMessageProxy.Mastodon">
                <transloco key="app.auth.private_message_proxy.mastodon.description" />
              </ng-container>
            </small>
          </div>

          <button class="btn btn-primary" type="submit">
            {{"app.auth.claim_instance.submit" | transloco}}
          </button>
        </form>

      </div>
    </div>
  </div>
</ng-template>
