<app-loader *ngIf="loading else content"></app-loader>

<ng-template #content>
  <div class="col-md-12">
    <div class="card" *ngIf="detail">
      <div class="card-header">
        <h3 class="card-title" id="instance-details">Instance details</h3>
        <div class="float-right">
          <ng-container *ngIf="myInstance else instanceControls">
            <a *ngIf="myInstance" routerLink="/instances/edit/reset-token" class="btn btn-primary btn-sm">Reset my api key</a>
            &nbsp;
            <a *ngIf="myInstance" routerLink="/instances/edit/my" class="btn btn-primary btn-sm">Edit instance details</a>
          </ng-container>
          <ng-template #instanceControls>
            <ng-container *ngIf="loggedIn">
              In a list:&nbsp;
              <app-instance-move-to-list
                instance="{{detail.domain}}"
                (movingInstanceFailed)="onMovingInstanceFailed($event)"
                (instanceMoved)="onInstanceMoved($event)"
              />
            </ng-container>
          </ng-template>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <tbody>
          <tr>
            <td><strong>Domain</strong></td>
            <td>
              {{detail.domain}}
              <app-flags [instance]="detail" />
            </td>
          </tr>
          <tr>
            <td><strong>Software</strong></td>
            <td>{{detail.software}}</td>
          </tr>
          <tr>
            <td>
              <strong>Is claimed?</strong>
              <app-tooltip text="Whether an admin has claimed the instance here on Fediseer." />
            </td>
            <td>
              <app-yes-no [yes]="detail.claimed > 0"></app-yes-no>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Status</strong>
            </td>
            <td>
              <app-instance-status [status]="detail.state" />
            </td>
          </tr>
          <tr>
            <td>
              <strong>Tags</strong>
              <app-tooltip text="Self-reported list of tags" />
            </td>
            <td>
              <code *ngIf="!detail.tags.length">N/A</code>
              <ng-container *ngIf="detail.tags.length">
                <a routerLink="/instances/safelisted" [queryParams]="{tags: tag}" class="btn btn-sm btn-outline-primary" *ngFor="let tag of detail.tags">
                  {{tag}}
                </a>
              </ng-container>
            </td>
          </tr>
          <tr>
            <td><strong>Open registrations?</strong></td>
            <td>
              <app-yes-no [yes]="detail.open_registrations" [swapColors]="true"></app-yes-no>
            </td>
          </tr>
          <tr>
            <td><strong>Email verification?</strong></td>
            <td>
              <app-yes-no [yes]="detail.email_verify"></app-yes-no>
            </td>
          </tr>
          <tr>
            <td><strong>Does have captcha?</strong></td>
            <td>
              <app-yes-no [yes]="detail.has_captcha"></app-yes-no>
            </td>
          </tr>
          <tr>
            <td><strong>Account approval required?</strong></td>
            <td>
              <app-yes-no [yes]="detail.approval_required"></app-yes-no>
            </td>
          </tr>
          <tr>
            <td><strong>Endorsements given</strong></td>
            <td>{{detail.approvals}}</td>
          </tr>
          <tr>
            <td><strong>Endorsements received</strong></td>
            <td>{{detail.endorsements}}</td>
          </tr>
          <tr>
            <td><strong>Guarantor</strong></td>
            <td>
              <ng-container *ngIf="detail.guarantor">
                <a routerLink="/instances/detail/{{detail.guarantor}}">
                  {{detail.guarantor}}
                </a>
              </ng-container>
              <code *ngIf="!detail.guarantor">N/A</code>
            </td>
          </tr>
          <tr>
            <td><strong>Amount of system administrators</strong></td>
            <td>
              <ng-container *ngIf="detail.sysadmins !== null">{{detail.sysadmins}}</ng-container>
              <code *ngIf="detail.sysadmins === null">N/A</code>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Amount of moderators</strong>
              <app-tooltip text="This includes only moderators who are part of the instance staff." />
            </td>
            <td>
              <ng-container *ngIf="detail.moderators !== null">{{detail.moderators}}</ng-container>
              <code *ngIf="detail.moderators === null">N/A</code>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Endorsements visibility</strong>
              <app-tooltip text="{{'app.endorsements_visibility.help' | transloco}}" />
            </td>
            <td>
              <ng-container *ngIf="detail.visibility_endorsements === ListVisibility.Open">{{'app.list_visibility.open' | transloco}}</ng-container>
              <ng-container *ngIf="detail.visibility_endorsements === ListVisibility.Endorsed">{{'app.list_visibility.endorsed' | transloco}}</ng-container>
              <ng-container *ngIf="detail.visibility_endorsements === ListVisibility.Private">{{'app.list_visibility.private' | transloco}}</ng-container>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Hesitations visibility</strong>
              <app-tooltip text="{{'app.hesitations_visibility.help' | transloco}}" />
            </td>
            <td>
              <ng-container *ngIf="detail.visibility_hesitations === ListVisibility.Open">{{'app.list_visibility.open' | transloco}}</ng-container>
              <ng-container *ngIf="detail.visibility_hesitations === ListVisibility.Endorsed">{{'app.list_visibility.endorsed' | transloco}}</ng-container>
              <ng-container *ngIf="detail.visibility_hesitations === ListVisibility.Private">{{'app.list_visibility.private' | transloco}}</ng-container>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Censures visibility</strong>
              <app-tooltip text="{{'app.censures_visibility.help' | transloco}}" />
            </td>
            <td>
              <ng-container *ngIf="detail.visibility_hesitations === ListVisibility.Open">{{'app.list_visibility.open' | transloco}}</ng-container>
              <ng-container *ngIf="detail.visibility_hesitations === ListVisibility.Endorsed">{{'app.list_visibility.endorsed' | transloco}}</ng-container>
              <ng-container *ngIf="detail.visibility_hesitations === ListVisibility.Private">{{'app.list_visibility.private' | transloco}}</ng-container>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card" *ngIf="censuresReceived">
      <div class="card-header">
        <h3 class="card-title" id="censures-received">Censures received ({{censuresReceived.length}})</h3>
      </div>
      <div class="card-body">
        <ng-container *ngIf="censuresReceived.length">
          <p>Censures were received from the following instances:</p>
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Instance</th>
              <th>Reasons</th>
              <th>Evidence</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let instance of censuresReceived">
              <td><a routerLink="/instances/detail/{{instance.domain}}">{{instance.domain}}</a></td>
              <td>
                <code *ngIf="!instance.censureReasons.length; else reasonList">N/A</code>
                <ng-template #reasonList>
                  <ul>
                    <li *ngFor="let reason of instance.censureReasons">{{reason}}</li>
                  </ul>
                </ng-template>
              </td>
              <td>
                <code *ngIf="!instance.censuresEvidence">N/A</code>
                <ng-container *ngIf="instance.censuresEvidence">{{instance.censuresEvidence}}</ng-container>
              </td>
            </tr>
            </tbody>
          </table>
        </ng-container>
        <p *ngIf="!censuresReceived.length">
          This instance isn't censured by anyone.
        </p>
      </div>
    </div>

    <div class="card" *ngIf="censuresGiven">
      <div class="card-header">
        <h3 class="card-title" id="censures-given">Censures given ({{censuresGiven.length}})</h3>
      </div>
      <div class="card-body">
        <ng-container *ngIf="censuresGiven.length">
          <p>Censures were given to the following instances:</p>
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Instance</th>
              <th>Reasons</th>
              <th>Evidence</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let instance of censuresGiven">
              <td><a routerLink="/instances/detail/{{instance.domain}}">{{instance.domain}}</a></td>
              <td>
                <ul *ngIf="instance.censureReasons.length">
                  <li *ngFor="let reason of instance.censureReasons">{{reason}}</li>
                </ul>
                <code *ngIf="!instance.censureReasons.length">N/A</code>
              </td>
              <td>
                <ng-container *ngIf="instance.censuresEvidence.length">{{instance.censuresEvidence}}</ng-container>
                <code *ngIf="!instance.censuresEvidence.length">N/A</code>
              </td>
            </tr>
            </tbody>
          </table>
        </ng-container>
        <p *ngIf="!censuresGiven.length">
          This instance hasn't censured any instance.
        </p>
      </div>
    </div>

    <div class="card" *ngIf="endorsementsReceived">
      <div class="card-header">
        <h3 class="card-title" id="endorsements-received">Endorsements received ({{endorsementsReceived.length}})</h3>
      </div>
      <div class="card-body">
        <ng-container *ngIf="endorsementsReceived.length">
          <p>Endorsements were received from the following instances:</p>
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Instance</th>
              <th>Reasons</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let instance of endorsementsReceived">
              <td><a routerLink="/instances/detail/{{instance.domain}}">{{instance.domain}}</a></td>
              <td>
                <ul *ngIf="instance.endorsementReasons.length">
                  <li *ngFor="let reason of instance.endorsementReasons">{{reason}}</li>
                </ul>
                <code *ngIf="!instance.endorsementReasons.length">N/A</code>
              </td>
            </tr>
            </tbody>
          </table>
        </ng-container>
        <p *ngIf="!endorsementsReceived.length">
          This instance hasn't been endorsed by any other instance.
        </p>
      </div>
    </div>

    <div class="card" *ngIf="endorsementsGiven">
      <div class="card-header">
        <h3 class="card-title" id="endorsements-given">Endorsements given ({{endorsementsGiven.length}})</h3>
      </div>
      <div class="card-body">
        <ng-container *ngIf="endorsementsGiven.length">
          <p>Endorsements were given to the following instances:</p>
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Instance</th>
              <th>Reasons</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let instance of endorsementsGiven">
              <td><a routerLink="/instances/detail/{{instance.domain}}">{{instance.domain}}</a></td>
              <td>
                <ul *ngIf="instance.endorsementReasons.length">
                  <li *ngFor="let reason of instance.endorsementReasons">{{reason}}</li>
                </ul>
                <code *ngIf="!instance.endorsementReasons.length">N/A</code>
              </td>
            </tr>
            </tbody>
          </table>
        </ng-container>
        <p *ngIf="!endorsementsGiven.length">
          This instance hasn't endorsed any other instance.
        </p>
      </div>
    </div>

    <div class="card" *ngIf="hesitationsReceived">
      <div class="card-header">
        <h3 class="card-title" id="hesitations-received">Hesitations received ({{hesitationsReceived.length}})</h3>
      </div>
      <div class="card-body">
        <ng-container *ngIf="hesitationsReceived.length">
          <p>Hesitations were received from the following instances:</p>
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Instance</th>
              <th>Reasons</th>
              <th>Evidence</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let instance of hesitationsReceived">
              <td><a routerLink="/instances/detail/{{instance.domain}}">{{instance.domain}}</a></td>
              <td>
                <code *ngIf="!instance.hesitationReasons.length; else reasonList">N/A</code>
                <ng-template #reasonList>
                  <ul>
                    <li *ngFor="let reason of instance.hesitationReasons">{{reason}}</li>
                  </ul>
                </ng-template>
              </td>
              <td>
                <code *ngIf="!instance.hesitationsEvidence">N/A</code>
                <ng-container *ngIf="instance.hesitationsEvidence">{{instance.hesitationsEvidence}}</ng-container>
              </td>
            </tr>
            </tbody>
          </table>
        </ng-container>
        <p *ngIf="!hesitationsReceived.length">
          This instance isn't hesitated on by anyone.
        </p>
      </div>
    </div>

    <div class="card" *ngIf="hesitationsGiven">
      <div class="card-header">
        <h3 class="card-title" id="hesitations-given">Hesitations given ({{hesitationsGiven.length}})</h3>
      </div>
      <div class="card-body">
        <ng-container *ngIf="hesitationsGiven.length">
          <p>Hesitations were given to the following instances:</p>
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Instance</th>
              <th>Reasons</th>
              <th>Evidence</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let instance of hesitationsGiven">
              <td><a routerLink="/instances/detail/{{instance.domain}}">{{instance.domain}}</a></td>
              <td>
                <ul *ngIf="instance.hesitationReasons.length">
                  <li *ngFor="let reason of instance.hesitationReasons">{{reason}}</li>
                </ul>
                <code *ngIf="!instance.hesitationReasons.length">N/A</code>
              </td>
              <td>
                <ng-container *ngIf="instance.hesitationsEvidence.length">{{instance.hesitationsEvidence}}</ng-container>
                <code *ngIf="!instance.hesitationsEvidence.length">N/A</code>
              </td>
            </tr>
            </tbody>
          </table>
        </ng-container>
        <p *ngIf="!hesitationsGiven.length">
          This instance hasn't hesitated on any instance.
        </p>
      </div>
    </div>

    <div class="card" *ngIf="guaranteesGiven">
      <div class="card-header">
        <h3 class="card-title" id="guarantees">Guarantees ({{guaranteesGiven.length}})</h3>
      </div>
      <div class="card-body">
        <ng-container *ngIf="guaranteesGiven.length">
          <p>This instance guarantees for the following instances:</p>
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Instance</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let instance of guaranteesGiven">
              <td>
                <a routerLink="/instances/detail/{{instance.domain}}">{{instance.domain}}</a>
                <app-flags [instance]="instance" />
              </td>
            </tr>
            </tbody>
          </table>
        </ng-container>
        <p *ngIf="!guaranteesGiven.length">
          This instance doesn't guarantee for any instance.
        </p>
      </div>
    </div>
  </div>
</ng-template>
