<table class="table table-bordered mt-3">
  <tr *ngFor="let instance of added" class="bg-success">
    <td>
      <a routerLink="/instances/detail/{{instance}}">{{instance}}</a>
      <app-tooltip text="{{addedText | toObservable | async}}" />
    </td>
  </tr>
  <tr
    *ngFor="let instance of originalListString"
    [class.bg-danger]="removed.includes(instance) && purgeMode && highlightRemoved"
    [class.bg-warning]="removed.includes(instance) && !purgeMode && highlightRemoved"
  >
    <td>
      <a routerLink="/instances/detail/{{instance}}">{{instance}}</a>
      <app-tooltip *ngIf="!removed.includes(instance)" text="This instance is on both your Fediseer censure list and instance blocklist." />
      <app-tooltip *ngIf="removed.includes(instance) && purgeMode" text="This instance is only on your instance blocklist but not on your Fediseer blocklist and will be removed from your instance's blocklist if you run synchronization." />
      <app-tooltip *ngIf="removed.includes(instance) && !purgeMode" text="This instance is only on your instance blocklist but not on your Fediseer blocklist. It will not be removed because you don't have the 'Purge blacklist' option checked." />
    </td>
  </tr>
</table>
