<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <p>Before resetting your api key, please provide the current one.</p>
      <form [formGroup]="form" (submit)="validateAndReset()">
        <div class="form-group">
          <label for="inputApiKey">Current api key</label>
          <input id="inputApiKey" class="form-control" formControlName="currentApiKey" />
        </div>
        <div class="form-group">
          <label for="inputAdminUsername">Admin username</label>
          <input id="inputAdminUsername" class="form-control" formControlName="adminUsername" />
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Reset</button>
      </form>
    </div>
  </div>
</div>
