<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <p>
        Before resetting your api key, please provide the current one. If you have forgotten the old API key you need to
        ask another admin in your instance, or the Fediseer admin
        <ng-container *ngIf="software === 'lemmy'">
          (<a target="_blank" href="https://{{instance}}/u/db0@lemmy.dbzer0.com">@db0@lemmy.dbzer0.com</a>)
        </ng-container>
        <ng-container *ngIf="software === 'mastodon'">
          (<a target="_blank" href="https://{{instance}}/@db0@lemmy.dbzer0.com">@db0@lemmy.dbzer0.com</a>)
        </ng-container>
        <ng-container *ngIf="software !== 'mastodon' && software !== 'lemmy'">
          (<a target="_blank" href="https://lemmy.dbzer0.com/u/db0">@db0@lemmy.dbzer0.com</a>)
        </ng-container>
        to reset it for you.
      </p>
      <form [formGroup]="form" (submit)="validateAndReset()">
        <div class="form-group">
          <label for="inputApiKey">Current api key</label>
          <input id="inputApiKey" class="form-control" formControlName="currentApiKey"/>
        </div>
        <div class="form-group">
          <label for="inputAdminUsername">Admin username</label>
          <input id="inputAdminUsername" class="form-control" formControlName="adminUsername"/>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Reset</button>
      </form>
    </div>
  </div>
</div>
