<app-loader *ngIf="loading else content"></app-loader>

<ng-template #content>
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="form" (submit)="updateReasons()">
          <div class="form-group">
            <label for="inputInstance">Instance to censure</label>
            <input class="form-control" type="text" id="inputInstance" formControlName="instance" />
          </div>
          <div class="form-group">
            <label for="inputReason">Reasons</label>
            <select formControlName="reasons" id="inputReason" multiple tom-select [maxItems]="null" [create]="true">
              <option *ngFor="let option of availableReasons" [value]="option">{{option}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="inputEvidence">Evidence</label>
            <textarea id="inputEvidence" class="form-control" formControlName="evidence" aria-describedby="inputEvidenceDescription"></textarea>
            <small id="inputEvidenceDescription">
              You may optionally provide an evidence, for example links, or any other text up to 1000 characters in length.
            </small>
          </div>
          <button type="submit" class="btn btn-primary">Update</button>
        </form>
      </div>
    </div>
  </div>
</ng-template>
