<app-loader *ngIf="loading else content"></app-loader>

<ng-template #content>
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="form" (submit)="updateReasons()">
          <div class="form-group">
            <label for="inputInstance">{{'app.censures.instance_to_censure' | transloco}}</label>
            <input class="form-control" type="text" id="inputInstance" formControlName="instance" />
          </div>
          <div class="form-group">
            <label for="inputReason">{{'app.reasons' | transloco}}</label>
            <select formControlName="reasons" id="inputReason" multiple tom-select [maxItems]="null" [create]="true">
              <option *ngFor="let option of availableReasons" [value]="option">{{option}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="inputEvidence">{{'app.evidence' | transloco}}</label>
            <textarea id="inputEvidence" class="form-control" formControlName="evidence" aria-describedby="inputEvidenceDescription"></textarea>
            <small id="inputEvidenceDescription">
              <!-- todo get amount from api -->
              {{'app.evidence.description' | transloco:{amount: 1000 | formatNumber} }}
            </small>
          </div>
          <button type="submit" class="btn btn-primary">{{'app.generic_button.update' | transloco}}</button>
        </form>
      </div>
    </div>
  </div>
</ng-template>
