<app-loader *ngIf="loading else content"></app-loader>

<ng-template #content>
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <p *ngIf="!currentInstance.anonymous">
          If you're looking for managing of your own whitelist, go to <a routerLink="/endorsements/my">your endorsements</a>.
        </p>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Instance</th>
            <th>Guarantor</th>
            <th>Claimed?</th>
            <th>Endorsements</th>
            <th>Admins / moderators</th>
            <th *ngIf="!currentInstance.anonymous">Endorsed by me?</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let instance of instances">
            <td><a routerLink="/instances/detail/{{instance.domain}}">{{instance.domain}}</a></td>
            <td>
              <a *ngIf="instance.guarantor" routerLink="/instances/detail/{{instance.guarantor}}">{{instance.guarantor}}</a>
              <code *ngIf="!instance.guarantor">N/A</code>
            </td>
            <td>
              <app-yes-no [yes]="instance.claimed > 0"></app-yes-no>
            </td>
            <td>
              {{instance.endorsements}}
            </td>
            <td>
              <code *ngIf="instance.sysadmins === null && instance.moderators === null; else detailedAdminsModerators">
                N/A
              </code>
              <ng-template #detailedAdminsModerators>
                <code *ngIf="instance.sysadmins === null">N/A</code>
                <ng-container *ngIf="instance.sysadmins !== null">{{instance.sysadmins}}</ng-container>
                /
                <code *ngIf="instance.moderators === null">N/A</code>
                <ng-container *ngIf="instance.moderators !== null">{{instance.moderators}}</ng-container>
              </ng-template>
            </td>
            <td *ngIf="!currentInstance.anonymous">
              <a href="javascript:void(0)" (click)="toggleEndorse(instance.domain)">
                <app-yes-no [yes]="endorsedByMe.indexOf(instance.domain) > -1"></app-yes-no>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer" *ngIf="maxPage > 1">
        <ul class="pagination text-center">
          <li class="paginate_button page-item previous" [class.disabled]="currentPage <= 1">
            <a href="javascript:void(0)" class="page-link" (click)="goToPage(currentPage - 1)">
              Previous
            </a>
          </li>
          <li *ngFor="let page of pages" class="paginate_button page-item" [class.active]="currentPage === page">
            <a href="javascript:void(0)" class="page-link" (click)="goToPage(page)">{{page}}</a>
          </li>
          <li class="paginate_button page-item next" [class.disabled]="currentPage >= maxPage">
            <a href="javascript:void(0)" class="page-link" (click)="goToPage(currentPage + 1)">
              Next
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</ng-template>
