<app-loader *ngIf="loading else content"></app-loader>

<ng-template #content>
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <!-- filters -->
        <form [formGroup]="form" (submit)="loadInstances()">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="inputFilterTags">Tags</label>
                <select formControlName="tags" id="inputFilterTags" multiple tom-select [maxItems]="null" [create]="true">
                  <option *ngFor="let option of availableTags" [value]="option">{{option}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="inputFilterMinimumEndorsements">Minimum amount of endorsements</label>
                <input type="number" id="inputFilterMinimumEndorsements" formControlName="minimumEndorsements" class="form-control" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="inputFilterMinimumGuarantors">Minimum amount of guarantors</label>
                <input type="number" id="inputFilterMinimumGuarantors" formControlName="minimumGuarantors" class="form-control" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <button [disabled]="!form.valid" type="submit" class="btn btn-primary">Filter</button>
              </div>
            </div>
          </div>
        </form>
        <!-- end filters -->
        <p *ngIf="!currentInstance.anonymous">
          If you're looking for managing of your own whitelist, go to <a routerLink="/endorsements/my">your endorsements</a>.
        </p>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Instance</th>
            <th>Guarantor</th>
            <th>
              Claimed?
              <app-tooltip text="Whether an admin has claimed the instance here on Fediseer." />
            </th>
            <th>Endorsements</th>
            <th>Sysadmins / moderators</th>
            <th>Tags</th>
            <th>Instance status</th>
            <th *ngIf="!currentInstance.anonymous">Endorsed by me?</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let instance of instances">
            <td>
              <a routerLink="/instances/detail/{{instance.domain}}">{{instance.domain}}</a>
              <app-flags [instance]="instance" />
            </td>
            <td>
              <a *ngIf="instance.guarantor" routerLink="/instances/detail/{{instance.guarantor}}">{{instance.guarantor}}</a>
              <code *ngIf="!instance.guarantor">N/A</code>
            </td>
            <td>
              <app-yes-no [yes]="instance.claimed > 0"></app-yes-no>
            </td>
            <td>
              {{instance.endorsements}}
            </td>
            <td>
              <code *ngIf="instance.sysadmins === null && instance.moderators === null; else detailedAdminsModerators">
                N/A
              </code>
              <ng-template #detailedAdminsModerators>
                <code *ngIf="instance.sysadmins === null">N/A</code>
                <ng-container *ngIf="instance.sysadmins !== null">{{instance.sysadmins}}</ng-container>
                /
                <code *ngIf="instance.moderators === null">N/A</code>
                <ng-container *ngIf="instance.moderators !== null">{{instance.moderators}}</ng-container>
              </ng-template>
            </td>
            <td>
              <code *ngIf="!instance.tags.length">N/A</code>
              <ng-container *ngIf="instance.tags.length">
                <a routerLink="/instances/whitelisted" [queryParams]="{tags: tag}" class="btn btn-sm btn-outline-primary" *ngFor="let tag of instance.tags">
                  {{tag}}
                </a>
              </ng-container>
            </td>
            <td>
              <app-instance-status [status]="instance.state" />
            </td>
            <td *ngIf="!currentInstance.anonymous">
              <a href="javascript:void(0)" (click)="toggleEndorse(instance.domain)">
                <app-yes-no [yes]="endorsedByMe.indexOf(instance.domain) > -1"></app-yes-no>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer" *ngIf="maxPage > 1">
        <ul class="pagination text-center">
          <li class="paginate_button page-item previous" [class.disabled]="currentPage <= 1">
            <a href="javascript:void(0)" class="page-link" (click)="goToPage(currentPage - 1)">
              Previous
            </a>
          </li>
          <li *ngFor="let page of pages" class="paginate_button page-item" [class.active]="currentPage === page">
            <a href="javascript:void(0)" class="page-link" (click)="goToPage(page)">{{page}}</a>
          </li>
          <li class="paginate_button page-item next" [class.disabled]="currentPage >= maxPage">
            <a href="javascript:void(0)" class="page-link" (click)="goToPage(currentPage + 1)">
              Next
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</ng-template>
