<div class="wrapper" *ngIf="(loggedInInstance | async) as loggedInInstance">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand" [class.navbar-dark]="darkModeEnabled" [class.navbar-light]="!darkModeEnabled">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item"> <!--{{ stimulus_target('page', 'sideMenuToggler') }}-->
        <a class="nav-link" href="javascript:void(0)" role="button" (click)="toggleSideMenu()" #sideMenuToggle>
          <i class="fas fa-bars"></i>
        </a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a routerLink="/" class="nav-link">{{ "app.home" | transloco }}</a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4" #sideMenu>
    <!-- Brand Logo -->
    <a routerLink="/" class="brand-link">
      <img ngSrc="/assets/logo.png" alt="{{'app.logo.alt' | transloco:{fediseer: 'Fediseer'} }}" class="brand-image img-circle elevation-3" style="opacity: .8" height="400" width="400">
      <span class="brand-text font-weight-light">Fediseer <small class="tiny">{{"app.gui.version" | transloco:{appVersion: appVersion} }}</small></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <ng-template #badges>
            <div *ngIf="!loggedInInstance.anonymous">
              <a routerLink="/guarantees/my" title="{{'app.sidebar.guarantor_badge.title' | transloco}}">
                <img *ngIf="guaranteesBadgeUrl" class="fediseer-badge" src="{{guaranteesBadgeUrl}}"
                     alt="{{'app.sidebar.guarantor_badge.alt_text' | transloco}}"/>
              </a>
              <a routerLink="/endorsements/my" title="{{'app.endorsements.my' | transloco}}">
                <img *ngIf="endorsementsBadgeUrl" class="fediseer-badge" src="{{endorsementsBadgeUrl}}"
                     alt="{{'app.sidebar.endorsements_badge.alt_text' | transloco}}"/>
              </a>
            </div>
          </ng-template>
          <a href="javascript:void(0)" *ngIf="loggedInInstance.anonymous" class="d-block">
            {{loggedInInstance.name}}
          </a>
          <a routerLink="/instances/detail/{{loggedInInstance.name}}" *ngIf="!loggedInInstance.anonymous" class="d-block">
            {{loggedInInstance.name}}
            <ng-container *ngTemplateOutlet="badges"></ng-container>
          </a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
            data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <ng-container *ngIf="loggedInInstance.anonymous">
            <li class="nav-item">
              <a routerLink="/auth/login" class="nav-link">
                <i class="nav-icon fas fa-sign-in-alt"></i>
                <p>
                  {{ "app.sidebar.login" | transloco }}
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/auth/claim-instance" class="nav-link">
                <i class="nav-icon fas fa-user-plus"></i>
                <p>
                  {{ "app.sidebar.claim_instance" | transloco }}
                </p>
              </a>
            </li>
          </ng-container>
          <li class="nav-item" *ngIf="!loggedInInstance.anonymous">
            <a routerLink="/endorsements/my" class="nav-link">
              <i class="nav-icon fas fa-thumbs-up"></i>
              <p>
                {{ "app.sidebar.endorsements" | transloco }}
              </p>
            </a>
          </li>
          <li class="nav-item" *ngIf="!loggedInInstance.anonymous">
            <a routerLink="/guarantees/my" class="nav-link">
              <i class="nav-icon fas fa-handshake"></i>
              <p>
                {{ "app.sidebar.guarantees" | transloco }}
              </p>
            </a>
          </li>
          <li class="nav-item" *ngIf="!loggedInInstance.anonymous">
            <a routerLink="/censures/my" class="nav-link">
              <i class="nav-icon fas fa-lock"></i>
              <p>
                {{ "app.sidebar.censures" | transloco }}
              </p>
            </a>
          </li>
          <li class="nav-item" *ngIf="!loggedInInstance.anonymous">
            <a routerLink="/hesitations/my" class="nav-link">
              <i class="nav-icon fas fa-exclamation"></i>
              <p>
                {{ "app.sidebar.hesitations" | transloco }}
              </p>
            </a>
          </li>
          <li class="nav-item" *ngIf="software === 'lemmy'">
            <a routerLink="/synchronize/lemmy" class="nav-link">
              <i class="nav-icon fas fa-sync"></i>
              <p>
                {{ "app.sidebar.synchronize" | transloco }}
              </p>
            </a>
          </li>
          <li class="nav-item" *ngIf="software === 'mastodon'">
            <a routerLink="/synchronize/mastodon" class="nav-link">
              <i class="nav-icon fas fa-sync"></i>
              <p>
                {{ "app.sidebar.synchronize" | transloco }}
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/instances/whitelisted" class="nav-link">
              <i class="nav-icon fas fa-thumbs-up"></i>
              <p>
                {{ "app.sidebar.guaranteed_instances" | transloco }}
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/instances/censured" class="nav-link">
              <i class="nav-icon fas fa-ban"></i>
              <p>
                {{ "app.sidebar.censured_instances" | transloco }}
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/instances/hesitated" class="nav-link">
              <i class="nav-icon fas fa-exclamation-triangle"></i>
              <p>
                {{"app.sidebar.hesitated_instances" | transloco}}
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/instances/suspicious" class="nav-link">
              <i class="nav-icon fas fa-thumbs-down"></i>
              <p>
                {{ "app.sidebar.suspicious_instances" | transloco }}
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/action-log/log" class="nav-link">
              <i class="nav-icon fas fa-stream"></i>
              <p>
                {{"app.sidebar.action_log" | transloco}}
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/solicitations" class="nav-link">
              <i class="nav-icon fas fa-handshake"></i>
              <p>
                {{"app.sidebar.solicitations" | transloco}}
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/glossary" class="nav-link">
              <i class="nav-icon fas fa-book-open"></i>
              <p>
                {{ "app.sidebar.glossary" | transloco }}
              </p>
            </a>
          </li>
          <li class="nav-item" *ngIf="(availableAccounts | async)!.length">
            <a href="javascript:void(0)" (click)="openSwitchAccountModal(switchAccountModal)" class="nav-link">
              <i class="nav-icon fas fa-exchange-alt"></i>
              <p>
                {{ "app.sidebar.switch_account" | transloco }}
              </p>
            </a>

            <ng-template #switchAccountModal let-modal>
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">{{"app.switch_account.title" | transloco}}</h4>
                  <i class="fas fa-times cursor-pointer" (click)="modal.dismiss('x')"></i>
                </div>
                <div class="modal-body">
                  <table class="table table-striped table-bordered">
                    <tr *ngFor="let instance of availableAccounts | async">
                      <td>{{instance.name}}</td>
                      <td>
                        <button class="btn btn-info" (click)="switchToInstance(instance)" [ngbTooltip]="instance.name === loggedInInstance.name ? ('app.switch_account.already_on_this_account' | transloco) : null" [disabled]="instance.name === loggedInInstance.name">{{'app.switch_account.switch_button' | transloco}}</button>
                      </td>
                      <td>
                        <button class="btn btn-danger" (click)="logoutFrom(instance)">{{'app.logout' | transloco}}</button>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3" class="text-center">
                        <button class="btn btn-primary" (click)="logout(false)">{{'app.switch_account.add_account' | transloco}}</button>
                      </td>
                    </tr>
                  </table>
                </div>
            </ng-template>
          </li>
          <li class="nav-item" *ngIf="!loggedInInstance.anonymous">
            <a href="javascript:void(0)" (click)="logout()" class="nav-link">
              <i class="nav-icon fas fa-sign-out-alt"></i>
              <p>
                {{ "app.sidebar.logout" | transloco }}
              </p>
            </a>
          </li>
          <li><hr></li>
          <li class="nav-item">
            <a href="{{sourceCodeLink}}/releases" class="nav-link">
              <i class="nav-icon fas fa-history"></i>
              <p>
                {{ "app.sidebar.changelog" | transloco }}
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{donateLink}}" class="nav-link">
              <i class="nav-icon fas fa-donate"></i>
              <p>
                {{ "app.sidebar.donate" | transloco }}
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{title}}</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <app-notification
              *ngFor="let message of successNotifications"
              [kind]="NotificationType.Success"
              [message]="(message | toObservable | async)!"
            ></app-notification>
            <app-notification
              *ngFor="let message of warningNotifications"
              [kind]="NotificationType.Warning"
              [message]="(message | toObservable | async)!"
            ></app-notification>
            <app-notification
              *ngFor="let message of errorNotifications"
              [kind]="NotificationType.Error"
              [message]="(message | toObservable | async)!"
            ></app-notification>
          </div>
          <router-outlet></router-outlet>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      Design: <strong><a href="https://adminlte.io" target="_blank">AdminLTE.io (3.2.0)</a></strong>
    </div>
    <strong>
      <ng-container *ngIf="maintainer === '@rikudou@lemmings.world' else splitMaintainerAuthor">
        <transloco [key]="'app.footer.created_and_maintained_by'" [params]="{authorUrl: 'https://lemmings.world/u/rikudou', author: '@rikudou@lemmings.world'}" />
      </ng-container>
      <ng-template #splitMaintainerAuthor>
        <transloco [key]="'app.footer.created_by'" [params]="{authorUrl: 'https://lemmings.world/u/rikudou', author: '@rikudou@lemmings.world'}" />
        <transloco [key]="'app.footer.maintained_by'" [params]="{maintainerLink: maintainerLink, maintainer: maintainer}" />
      </ng-template>
      <transloco [key]="'app.footer.source_link'" [params]="{sourceCodeLink: sourceCodeLink}" />
      <transloco [key]="'app.footer.community_link'" [params]="{communityLink: 'https://lemmyverse.link/c/fediseer@lemmy.dbzer0.com', community: '!fediseer@lemmy.dbzer0.com'}" />
    </strong>
  </footer>
</div>
