<app-loader *ngIf="loading else content"></app-loader>

<ng-template #content>
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <p>
          Blocked instances are instances that are censured by other instances.
        </p>
        <p *ngIf="!currentInstance.anonymous">
          If you're looking for managing of your own blacklist, go to <a routerLink="/censures/my">your censures</a>.
        </p>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Instance</th>
            <th>Reasons</th>
            <th *ngIf="!currentInstance.anonymous">Censured by me?</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let instance of instances">
            <td><a routerLink="/instances/detail/{{instance.domain}}">{{instance.domain}}</a></td>
            <td>
              <code *ngIf="!instance.censure_reasons || !instance.censure_reasons.length; else listReasons">N/A</code>
              <ng-template #listReasons>
                <ul>
                  <li *ngFor="let reason of instance.censure_reasons">{{reason}}</li>
                </ul>
              </ng-template>
            </td>
            <td *ngIf="!currentInstance.anonymous">
              <a href="javascript:void(0)" (click)="toggleCensure(instance.domain)">
                <app-yes-no [yes]="censuredByMe.indexOf(instance.domain) > -1"></app-yes-no>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer" *ngIf="maxPage > 1">
        <ul class="pagination text-center">
          <li class="paginate_button page-item previous" [class.disabled]="currentPage <= 1">
            <a href="javascript:void(0)" class="page-link" (click)="goToPage(currentPage - 1)">
              Previous
            </a>
          </li>
          <li *ngFor="let page of pages" class="paginate_button page-item" [class.active]="currentPage === page">
            <a href="javascript:void(0)" class="page-link" (click)="goToPage(page)">{{page}}</a>
          </li>
          <li class="paginate_button page-item next" [class.disabled]="currentPage >= maxPage">
            <a href="javascript:void(0)" class="page-link" (click)="goToPage(currentPage + 1)">
              Next
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</ng-template>
