<app-loader *ngIf="loading else content"></app-loader>

<ng-template #content>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title" id="instance-details">Instance details</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="form" (submit)="updateInstance()">
          <div class="form-group">
            <label for="inputSysadmins">Amount of sysadmins</label>
            <input class="form-control" type="number" min="0" step="1" id="inputSysadmins" formControlName="sysadmins" />
          </div>
          <div class="form-group">
            <label for="inputModerators">Amount of moderators</label>
            <input class="form-control" type="number" min="0" step="1" id="inputModerators" formControlName="moderators" />
          </div>
          <div class="form-group">
            <label for="inputTags">Tags</label>
            <app-tooltip text="Self-reported list of tags, can be anything you feel represents your instance." />
            <select formControlName="tags" id="inputTags" tom-select multiple [create]="true" [maxItems]="null">
              <option *ngFor="let option of availableTags" [value]="option">{{option}}</option>
            </select>
          </div>

          <ng-template #visibilitySelect let-formControlName="formControlName" let-type="type">
            <div class="form-group">
              <label for="inputVisibility{{type}}">
                Who, other than you, can see your <strong>{{type}}</strong>?
              </label>
              <select id="inputVisibility{{type}}" class="form-control" formControlName="{{formControlName}}">
                <option [value]="ListVisibility.Open">Everyone</option>
                <option [value]="ListVisibility.Endorsed">Endorsed instances</option>
                <option [value]="ListVisibility.Private">No one</option>
              </select>
            </div>
          </ng-template>

          <ng-container *ngTemplateOutlet="visibilitySelect; context: {formControlName: 'censuresVisibility', type: 'censures'}" />
          <ng-container *ngTemplateOutlet="visibilitySelect; context: {formControlName: 'hesitationsVisibility', type: 'hesitations'}" />
          <ng-container *ngTemplateOutlet="visibilitySelect; context: {formControlName: 'endorsementsVisibility', type: 'endorsements'}" />

          <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>
</ng-template>
