<app-loader *ngIf="loading else content"></app-loader>

<ng-template #content>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Info</h3>
      </div>
      <div class="card-body">
        <p>
          You can synchronize your settings with your instance, if you provide your Lemmy credentials.
        </p>
        <p>
          <strong>
            The password will only be stored in your browser and only in this tab - when you close it, you have to
            provide the password again.
          </strong>
        </p>
        <p>
          It's strongly advised to backup the list of your currently blocked instances in case something goes wrong.
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Synchronization</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="form">
          <div class="form-group">
            <label for="inputUsername">Username</label>
            <input type="text" id="inputUsername" formControlName="username" class="form-control" />
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" id="inputPassword" formControlName="password" class="form-control" />
          </div>
          <div class="form-group">
            <label for="inputTotp">TOTP</label>
            <input type="text" id="inputTotp" formControlName="totp" class="form-control" aria-describedby="inputTotpDescription" />
            <small id="inputTotpDescription">Only if your account is 2FA protected.</small>
          </div>
        </form>
        <app-filter-form
          [getSettingsCallback]="getSettingsCallback"
          [saveSettingsCallback]="saveSettingsCallback"
          (formSubmitted)="synchronize($event)"
          (modeChanged)="currentMode = $event"
          (instancesToBanChanged)="loadDiffs($event)"
          (instancesToBanCalculationStarted)="loadingPreview = true"
          (purgeChanged)="purgeMode = $event"
        />
        <div class="row mt-4">
          <div class="col-md-12 minimum-height">
            <h3>Preview</h3>

            <div class="position-relative">
              <app-loader *ngIf="loadingPreview else previewTable" />
            </div>

            <ng-template #previewTable>
              <app-blacklist-diff
                [originalList]="originallyBlockedInstances"
                [newList]="instancesToBanPreview!"
                [purgeMode]="purgeMode ?? false"
              />
            </ng-template>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Original blacklist</h3>
      </div>
      <div class="card-body">
        <p>
          Please back up this list before attempting any synchronization.
          <strong>
            If you move away from this page after a failed operation, there's no way to retrieve the original blacklist.
          </strong>
        </p>
        <p>
          <code>
            <ng-container *ngFor="let instance of originallyBlockedInstances">
              {{instance}}<br>
            </ng-container>
          </code>
        </p>
      </div>
    </div>
  </div>
</ng-template>
