<app-loader *ngIf="loading else content"></app-loader>

<ng-template #content>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Info</h3>
      </div>
      <div class="card-body">
        <p>
          You can synchronize your settings with your instance, if you provide your Lemmy credentials.
        </p>
        <p>
          <strong>
            The password will only be stored in your browser and only in this tab - when you close it, you have to
            provide the password again.
          </strong>
        </p>
        <p>
          It's strongly advised to backup the list of your currently blocked instances in case something goes wrong:
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Synchronization</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="form" (submit)="synchronize()">
          <div class="form-group">
            <label for="inputUsername">Username</label>
            <input type="text" id="inputUsername" formControlName="username" class="form-control" />
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" id="inputPassword" formControlName="password" class="form-control" />
          </div>
          <div class="form-group">
            <label for="inputTotp">TOTP</label>
            <input type="text" id="inputTotp" formControlName="totp" class="form-control" aria-describedby="inputTotpDescription" />
            <small id="inputTotpDescription">Only if your account is 2FA protected.</small>
          </div>
          <div class="form-group">
            <label for="inputMode">Mode</label>
            <select formControlName="mode" id="inputMode" aria-describedby="inputModeDescription" class="form-control">
              <option *ngFor="let enumCase of SynchronizationMode | iterableEnum" [value]="enumCase.value">{{enumCase.key}}</option>
            </select>
            <small *ngIf="form.controls.mode.value === SynchronizationMode.Own">
              Only instances you have censured will be synchronized.
            </small>
            <small *ngIf="form.controls.mode.value === SynchronizationMode.Endorsed">
              In addition to instances you have censured, all instances censured by instances you have endorsed will be blocked as well.
            </small>
            <small *ngIf="form.controls.mode.value === SynchronizationMode.CustomInstances">
              Only blacklist by your instance and the instances you specify manually will be blocked.
            </small>
          </div>
          <div class="form-group position-relative" *ngIf="form.controls.mode.value === SynchronizationMode.CustomInstances">
            <app-loader *ngIf="loadingWhitelistedInstances else whitelistedInstancesSelect" />
            <ng-template #whitelistedInstancesSelect>
              <label for="inputCustomInstances">Custom instances</label>
              <select formControlName="customInstances" id="inputCustomInstances" *ngIf="whitelistedInstancesList" tom-select multiple [maxItems]="null">
                <option *ngFor="let option of whitelistedInstancesList" [value]="option.domain">{{option.domain}}</option>
              </select>
            </ng-template>
          </div>
          <div class="form-group">
            <div class="custom-control custom-switch custom-switch-on-danger">
              <input class="custom-control-input" type="checkbox" id="inputPurge" formControlName="purgeBlacklist" aria-describedby="inputPurgeDescription" />
              <label for="inputPurge" class="custom-control-label">Purge blacklist</label>
            </div>
            <small id="inputPurgeDescription">If enabled, your blacklist will be purged before synchronizing the new one. Make sure you've backed up the original one.</small>
          </div>
          <div class="form-group">
            <div class="custom-control custom-switch custom-switch-on-danger">
              <input class="custom-control-input" type="checkbox" id="inputFilterReasons" formControlName="filterByReasons" aria-describedby="inputFilterReasonsDescription" />
              <label for="inputFilterReasons" class="custom-control-label">Filter by reasons</label>
            </div>
            <small id="inputFilterReasonsDescription">
              If enabled, only instances with censure reasons you specify will get blacklisted. Note that your own blacklist is always synchronized in full.
            </small>
          </div>
          <div class="form-group">
            <div class="custom-control custom-switch custom-switch-on-danger">
              <input class="custom-control-input" type="checkbox" id="inputIncludeHesitations" formControlName="includeHesitations" aria-describedby="inputIncludeHesitationsDescription" />
              <label for="inputIncludeHesitations" class="custom-control-label">Include hesitations</label>
            </div>
            <small id="inputIncludeHesitationsDescription">
              If enabled, hesitations following the above rules will be included in addition to censures.
            </small>
          </div>
          <div class="form-group position-relative" *ngIf="form.controls.filterByReasons.value">
            <app-loader *ngIf="loadingReasons else reasonsSelect" />
            <ng-template #reasonsSelect>
              <select formControlName="reasonsFilter" tom-select multiple [create]="true" [maxItems]="null">
                <option *ngFor="let option of availableReasons" [value]="option">{{option}}</option>
              </select>
            </ng-template>
          </div>
          <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Synchronize</button>
        </form>
        <div class="row mt-4">
          <div class="col-md-12 minimum-height">
            <h3>Preview</h3>

            <div class="position-relative">
              <app-loader *ngIf="loadingPreview else previewTable" />
            </div>

            <ng-template #previewTable>
              <table class="table table-bordered mt-3">
                <tr *ngFor="let instance of added" class="bg-success">
                  <td>
                    {{instance.domain}}
                    <app-tooltip text="This instance is only on Fediseer and not synchronized to your instance." />
                  </td>
                </tr>
                <tr
                  *ngFor="let instance of originallyBlockedInstances"
                  [class.bg-danger]="removed.includes(instance) && form.controls.purgeBlacklist.value"
                  [class.bg-warning]="removed.includes(instance) && !form.controls.purgeBlacklist.value"
                >
                  <td>
                    {{instance}}
                    <app-tooltip *ngIf="!removed.includes(instance)" text="This instance is on both your Fediseer censure list and instance blocklist." />
                    <app-tooltip *ngIf="removed.includes(instance) && form.controls.purgeBlacklist.value" text="This instance is only on your instance blocklist but not on your Fediseer blocklist and will be removed from your Lemmy blocklist if you run a synchronization." />
                    <app-tooltip *ngIf="removed.includes(instance) && !form.controls.purgeBlacklist.value" text="This instance is only on your instance blocklist but not on your Fediseer blocklist. It will not be removed because you don't have the 'Purge blacklist' option checked." />
                  </td>
                </tr>
              </table>
            </ng-template>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Original blacklist</h3>
      </div>
      <div class="card-body">
        <p>
          Please back up this list before attempting any synchronization.
          <strong>
            If you move away from this page after a failed operation, there's no way to retrieve the original blacklist.
          </strong>
        </p>
        <p>
          <code>
            <ng-container *ngFor="let instance of originallyBlockedInstances">
              {{instance}}<br>
            </ng-container>
          </code>
        </p>
      </div>
    </div>
  </div>
</ng-template>
