.wrapper {
  width: 100%;
  height: 29px;
  position: absolute;
  z-index: 10000;
  left: 0;
  top: 0;

  .spinner-border {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}
