<app-loader *ngIf="loading else content"></app-loader>

<ng-template #content>
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <p>
          <transloco key="app.endorsements.intro" [params]="{
            glossaryLink: {route: ['/glossary']},
            glossary: 'app.glossary' | transloco
          }" />
        </p>
        <p><strong>{{'app.guarantee_restricted.info' | transloco}}</strong></p>
        <form [formGroup]="form" (submit)="doEndorse()">
          <div class="form-group">
            <label for="inputInstance">{{'app.endorsements.target_instance' | transloco}}</label>
            <input class="form-control" type="text" id="inputInstance" formControlName="instance" />
          </div>
          <div class="form-group">
            <label for="inputReason">{{'app.reasons' | transloco}}</label>
            <select formControlName="reasons" id="inputReason" multiple tom-select [maxItems]="null" [create]="true">
              <option *ngFor="let option of availableReasons" [value]="option">{{option}}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">{{'app.endorsements.add.submit' | transloco}}</button>
        </form>
      </div>
    </div>
  </div>
</ng-template>
